
.DS_Store
chap-conclusion.aux
chap-intro.aux
chap-methodology.aux
chap-result.aux
chap-review.aux
fypcgsthesis.aux
fypcgsthesis.bbl
fypcgsthesis.blg
fypcgsthesis.lof
fypcgsthesis.log
fypcgsthesis.lot
fypcgsthesis.out
fypcgsthesis.synctex.gz
fypcgsthesis.toc
own.aux
texput.log
app-data.aux
app-uml.aux
acknowledgements.aux
